body {
  padding-top: 80px;
  /*background-image: url('/img/nordiclighthotel.jpg');*/
}

/*body #landing_page {
  padding-top: 80px !important;
  background-image: url('/img/nordiclighthotel.jpg');
}*/

div {
	font-family: 'Source Sans Pro', sans-serif;
}

.listguys {
	font-size: 30px;

}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-weight: 300;
}

.sidestuff {
	font-size: 25px;
}

.starter-template h1 {
	font-size: 60px;
	font-weight: 300;
}

.table {
	table-layout: fixed;
	word-wrap: break-word;
}


.container {
	font-weight: 300;
}

.guest-form {
	margin-bottom: 15px;
}

.form-group {
	font-weight: 300;
}

.guest-list h2 {
	font-weight: 400;
}

.guest-list-table {
	font-size: 16px;
	font-weight: 300;
}