div {
	font-family: 'Source Sans Pro', sans-serif;
}


body {
	/* background-image: url('/img/nordiclighthotel.jpg'); */
	padding-top: 80px;
}
/*
	
*/
#FrontPage {
	padding-top: 180px;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	background-image: url('/img/nordiclighthotel.jpg');
}

.testhover:hover {
	cursor: pointer;
	background-color: #9ea !important;
}

.listguys {
	font-size: 30px;

}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-weight: 300;
}

.sidestuff {
	font-size: 25px;

}

.shitstuff {
	list-style-position:inside;
    border: 1px solid black;
}

.starter-template h1 {
	font-size: 60px;
	font-weight: 300;
}

.table {
	table-layout: fixed;
	word-wrap: break-word;
}


.container {
	font-weight: 300;
}

.guest-form {
	margin-bottom: 15px;
}

.form-group {
	font-weight: 300;
}

.form-grupp {
	width: 70%;
	display:inline-block;
}
.guest-list h2 {
	font-weight: 400;
}

.guest-list-table {
	font-size: 16px;
	font-weight: 300;
}


.card {
	background:#FFF;
	border:1px solid #AAA;
	border-bottom:1px solid #BBB;
	padding:0px;
	margin:15px;
	box-shadow: 5px 5px 3px #888888;
	border-radius: 5px;
	overflow:hidden;
}

.card h1 {
	font-size: 24px;
	margin:0px;
	padding:10px;
	padding-bottom:0px;
}
 
.card p {
	margin:0px;
	padding:10px;
	align:center;
}