<form ng-submit="saveGuest()"class="form-inline guest-form" role="form">
  <div class="form-group">
    <label class="sr-only" for="guestName">Guest Name</label>
    <input ng-model="newGuest.name" type="text" required="" class="form-control" id="guestName" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="guestNumber">Guest Number</label>
    <input ng-model="newGuest.number"type="text" required="" class="form-control" id="guestNumber" placeholder="Phone number">
  </div>
  <button type="submit" class="btn btn-primary">Add Guest</button>
</form>

<div class="guest-list"><h2>Future Guests</h2></div>

<div class="guest-list-table">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<!-- Angular feature repeterar html-here för alla items i collection -->

	<tr ng-repeat="guest in guests| orderByPriority | filter:{checkedIn:'!true'}">
		
	<td data-toggle="modal" data-target="#guestModal" data-guest={{guest}}>
		<div>{{guest.name}}</div>
	</td>
	<td data-toggle="modal" data-target="#guestModal" data-guest={{guest}}>
		<div>{{guest.number}}</div>
	</td>
	<td>
		<!-- <input type="checkbox" ng-model="guest.checkedIn" ng-change="guests.$save(guest.$id)"> -->
		<!-- Indicates a successful or positive action -->
		<button ng-click="checkinGuest(guest)" type="button" class="btn btn-success btn-block">Check in</button>
	</td>

	</tr>
		
</table>
</div>


<div class="guest-list">
<h2>Current Guests</h2>
</div>

<div class="guest-list-table">
<table class="table table-hover span3">
	<thead>
		<tr>
			<th>Name</th>
			<th>Number</th>
			<th>Actions</th>
		</tr>
	</thead>
	<!-- Angular feature repeterar html-here för alla items i collection -->

	<tr ng-repeat="guest in guests| orderByPriority | filter:{checkedIn:true}">
	<!-- fulhack för att undvika att "checkout-knappen inte ska öppna guestinfo" -->
	<td data-toggle="modal" data-target="#guestModal" data-guest={{guest}}>
		<div>{{guest.name}}</div>
	</td>
	<td data-toggle="modal" data-target="#guestModal" data-guest={{guest}}>
		<div>{{guest.number}}</div>
	</td>
	<td>
		<button ng-click="checkoutGuest(guest)" type="button" class="btn btn-danger btn-block">Check out</button>
	</td>

	</tr>
		
</table>
</div>


<!-- Modal -->
<div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="guestModalLabel">gästfan</h4>
      </div>

      <div class="modal-body">
      		<div class="checkedin"></div>
	      	<div class="name"></div>
			<div class="number"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>